---
- hosts: webnode
  become: yes

  tasks:

    - name: Instalar Docker si no está instalado
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Asegurar que Docker esté iniciado
      service:
        name: docker
        state: started
        enabled: yes

    - name: Asegurar que el contenedor antiguo no exista
      shell: docker rm -f webcontainer || true

    - name: Descargar la imagen más reciente desde Docker Hub
      shell: docker pull {{ docker_image }}

    - name: Levantar el nuevo contenedor
      shell: docker run -d --name webcontainer -p 80:80 {{ docker_image }}
